{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_VISITS_COUNTER_TITLE') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ UNIQUE_VISITS_COUNTER_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_counter" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_VISITS_COUNTER_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="allow_visits_counter">{{ lang('UNIQUE_VISITS_COUNTER_ALLOW') ~ lang('COLON') }}</label><br />
				<span>{{ lang('UNIQUE_VISITS_COUNTER_ALLOW_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" id="allow_visits_counter" class="radio" name="allow_visits_counter" value="1"{% if ALLOW_VISITS_COUNTER %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="allow_visits_counter" value="0"{% if not ALLOW_VISITS_COUNTER %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('UNIQUE_VISITS_COUNTER_TIME_VALUE') ~ lang('COLON') }}</label><br />
				<span>{{ lang('UNIQUE_VISITS_COUNTER_TIME_VALUE_EXPLAIN') }}</span>
			</dt>
			<dd>{{ UNIQUE_VISITS_COUNTER_HOURS }}</dd>
			<dd>
				<input type="number" name="visits_counter_gc" value="{{ VISITS_COUNTER_GC }}" size="4" min="1" title="{{ lang('UNIQUE_VISITS_COUNTER_TIME_VALUE') }}" style="text-align:center;" />
			</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
	</fieldset>
	{{ S_FORM_TOKEN }}
</form>

{% INCLUDE 'overall_footer.html' %}
